@import "./layout";

@mixin btn-model($background: none, $color: none, $border: none){
	color: $color;
	background-color: $background;
	border-color: $border;
}

@mixin btn-hover($background: none, $color: none, $border: none){
	color: $color !important;
	background-color: $background !important;
	border-color: $border !important;
}

@mixin btn-focus($background: none, $color: none, $border: none){
	color: $color !important;
	background-color: $background !important;
	border-color: $border !important;
}

@mixin btn-plain($color: none, $background: none){
	color: $color;
	background-color: $background;
}


.#{$prefix}-btn {
	white-space: nowrap;
	background: #fff;
	border: 1px solid $color-border;
	color: #606266;
	appearance: none;
	text-align: center;
	transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
	padding: 10px;
	font-size: 14px;
	border-radius: 5px;
	outline: 0;
	cursor: pointer;
	margin: 0px 5px;
	.button-inner {
		margin: 0px 2px;
	}
}


.#{$prefix}-btn-default { 
	@include btn-model($color-default, $color-default-font, $color-default-border);
	&:hover { @include btn-model($color-default-hover, $color-default-hover-font, $color-default-hover-border) }
	&:active,
	&:focus { @include btn-focus($color-default-focus, $color-default-focus-font, $color-default-focus-border) }
}
.#{$prefix}-btn-primary { 
	@include btn-model($color-primary, $color-primary-font, $color-primary-border);
	&:hover { @include btn-hover($color-primary-hover, $color-primary-hover-font, $color-primary-hover-border) }
	&:active,
	&:focus { @include btn-focus($color-primary-focus, $color-primary-focus-font, $color-primary-focus-border) }
}
.#{$prefix}-btn-info {
	@include btn-model($color-info, $color-info-font, $color-info-border);
	&:hover { @include btn-hover($color-info-hover, $color-info-hover-font, $color-info-hover-border) }
	&:active,
	&:focus { @include btn-focus($color-info-focus, $color-info-focus-font, $color-info-focus-border) }
}
.#{$prefix}-btn-success {
	@include btn-model($color-success, $color-success-font, $color-success-border);
	&:hover { @include btn-hover($color-success-hover, $color-success-hover-font, $color-success-hover-border) }
	&:active,
	&:focus { @include btn-focus($color-success-focus, $color-success-focus-font, $color-success-focus-border) }
}
.#{$prefix}-btn-warning { 
	@include btn-model($color-warning, $color-warning-font, $color-warning-border);
	&:hover { @include btn-hover($color-warning-hover, $color-warning-hover-font, $color-warning-hover-border) }
	&:active,
	&:focus { @include btn-focus($color-warning-focus, $color-warning-focus-font, $color-warning-focus-border) }
}
.#{$prefix}-btn-error { 
	@include btn-model($color-error, $color-error-font, $color-error-border);
	&:hover { @include btn-hover($color-error-hover, $color-error-hover-font, $color-error-hover-border) }
	&:active,
	&:focus { @include btn-focus($color-error-focus, $color-error-focus-font, $color-error-focus-border) }
}

.#{$prefix}-btn-disabled {
	&:hover { @include btn-hover($color-disabled-hover, $color-disabled-hover-font, $color-disabled-border) }
	&:active,
	&:focus { @include btn-focus($color-disabled-focus, $color-disabled-focus-font) }
	@include btn-model($color-disabled, $color-disabled-font, $color-disabled-border);
	 cursor: not-allowed;
}

.#{$prefix}-btn-plain {
	&.#{$prefix}-btn-default {
		@include btn-plain($color-default-font, $color-default-plain)
	}
	&.#{$prefix}-btn-primary { 
		@include btn-plain($color-primary, $color-primary-plain)
  }
	&.#{$prefix}-btn-info {
		@include btn-plain($color-info, $color-info-plain)
	}
	&.#{$prefix}-btn-success {
		@include btn-plain($color-success, $color-success-plain)
	}
	&.#{$prefix}-btn-warning {
		@include btn-plain($color-warning, $color-warning-plain)
	}
	&.#{$prefix}-btn-error {
		@include btn-plain($color-error, $color-error-plain)
	}
}


.#{$prefix}-btn-shape--circle{
	border-radius: 50%;
	padding: 15px;
}

.#{$prefix}-btn-shape--round{
	border-radius: 2rem;
	padding: 15px;
}

