@import "./animation/index";
.#{$prefix}-combo {
  .#{$prefix}-input {
    margin: 0px;
  }
  .combo-options {
    position: absolute;
    min-height: 100px;
    max-height: 200px;
    height: 200px;
    font-size: 14px;
    font-weight: normal;
    background: $combo-color;
    overflow: auto;
    .is-selected {
      background-color: $combo-active !important;
    }
  }
} 