@import "./animation/index";
.#{$prefix}-combo {
  .#{$prefix}-input {
    margin: 0px;
  }
  .combo-options {
    position: absolute;
    min-height: 100px;
    max-height: 500px;
    font-size: 14px;
    font-weight: normal;
    background: $combo-color;
    overflow: auto;
    .combo-option {
      padding: 0px 8px;
      min-height: 32px;
      align-items: center;
      &:nth-child(odd){
				background: $combo-row-odd;
			}
			&:nth-child(even){
				background: $combo-row-even;
			}
			&:hover{
				cursor: pointer;
				background-color: $combo-hover;
      }
      .combo-item-inner {
        flex: 1;
      }
    }
    .is-selected {
      background-color: $combo-active !important;
    }
  }
} 