@import "./animation/index";
.#{$me-prefix}-combo {
  .combo-dropdown {
    position: absolute;
    min-height: 100px;
    max-height: 300px;
    background: $combo-color;
    overflow: auto;
    .is-selected {
      background-color: $combo-active !important;
    }
  }
} 