@import "./Modal.scss";
.#{$me-prefix}-dialog {
	border-color: $dialog-border;
	max-width: 95%;
  max-height: 95%;
	box-shadow: 0px 0px 10px 5px $dialog-shadow;
	.dialog-body {
		padding: 5px;
    overflow: auto;
		.icon-status {
			font-size: 30px ;
			margin: 0px 15px;
		}
		.alert { color: rgb(135, 137, 204); }
		.confirm{ color: rgb(76, 201, 76); }
	}
  .dialog-header {
		background-color: $dialog-header-background;
		align-items: center;
		color: $dialog-header-color;
		padding: 15px 10px;
		.#{$me-prefix}-icon {
			color: $dialog-header-color;
		}
	}
	.dialog-footer {
    align-items: center;
    padding: 5px;
    justify-content: flex-end;
  }
}
