
@import "./Modal.scss";
.#{$me-prefix}-image {
  cursor: pointer;
  border: 4px solid green;
  > img {
    width: 80%;
    display: block;
  }
  .image-modal {
    position: fixed;
    border: 5px solid red;
    .image-action-container {
      position: absolute;
      // width: 100%;
      bottom: -10px;
    }
  }
  .image-action {
    opacity: 0.3;
    .#{$me-prefix}-icon {
      font-size: 40px !important;
      color: #cac4c4;
      margin: 10px;
    }
  }
}