.#{$me-prefix}-input {
	min-height: $form-element--height-min;
	position: relative;
	min-width: 35px;
	input[type=checkbox] {
		vertical-align:middle;
		cursor: pointer;
	}
	input::placeholder {
		color: $color-placeholder;
	}
	
	textarea {
		resize: none;
	}
	.input-required {
		color: red;
	}
	.input-icon {
		position: absolute;
		height:100%;
	}
	.#{$me-prefix}-icon {
		font-size: $input-icon--font-size;
	}
	.input-inner {
		width: 1px;
		min-width: 20px;
		outline: none;
		border: 1px solid $color-border;
		color: $color-font;
		border-radius: 5px;
		padding-left: 5px;
		padding-right: 5px;
		&:focus {
			border-color: $color-focus;
			box-shadow:0 0 3px $color-focus;
		}
	}
}


.#{$me-prefix}-input-error {
	.input-inner {
		border-color: $input-border-error ;
		&:focus {
			border-color: $input-border-error;
			box-shadow:0 0 3px $input-border-error;
		}
	}
}

.#{$me-prefix}-disabled.#{$me-prefix}-input {
	.input-inner {
		&:hover {
			border-color: $color-disabled;
			box-shadow: none;
		}
	}
}
