.#{$me-prefix}-label {
	margin: 3px;
	.label-title {
		min-width: 100px;
		min-height: 30px;
		justify-content: flex-end;
		align-items: center;
		> span {
			display: flex;
			align-items: center;
			margin-left: 2px;
		}
	}
	.label-content {
		.label-content-error {
			font-size: 12px;
			color: red;
			margin-top: 1px;
			height: 13px;
		}
		.label-content-slot {
			color:red;
		}
	}
}