@import './var';
.#{$prefix}-label {
	margin: 3px;
	min-height: 60px;
	.label-title {
		text-align: right;
		min-width: 100px;
		margin-top: 10px;
	}
	.label-content {
		.label-content-error {
			font-size: 14px;
			color: red;
			margin-top: 2px;
		}
		.label-content-slot {
			color:red;
			height:40px;
		}
	}
}