.#{$me-prefix}-list {
  .list-item {
    padding: 0px 8px;
    min-height: 32px;
    align-items: center;
    &:nth-child(odd){
      background-color: $list--odd;
    }
    &:nth-child(even){
      background-color: $list--even;
    }
    &:hover{
      cursor: pointer;
      background-color: $list--hover;
    }
    .list-item-inner {
      flex: 1;
    }
  }
  
  .is-selected {
    background-color: $list--active !important;
  }
}
