.#{$prefix}-paging {
	padding: 5px;
	span {
		min-width: 30px;
		min-height: 30px;
		margin: 3px;
		padding: 3px;
		color: rgb(96, 97, 96);
		&:hover { 
			color: $color-selected;
		} 
	}
	
	.paging-border {
		border: 1px solid $color-border;
		&:hover {
			border: 1px solid $color-selected;
			// background-color: $paging-color-hover;
			// color: $paging-color-font-hover;
		}
	}
	.is-selected {
		color: $color-selected;
		border-color: $color-selected;
	}

	input {
		text-align: center;
	}
	.#{$prefix}-input {
		margin: 0px 5px;
	}
}