.#{$prefix}-table {
	overflow: auto;
	table{ width: 100%; }
	min-height: 150px;
	td,th {
		border: 1px solid $table-border !important;
		height: auto;
	}
	table,table td, .table th {
		border: none;
	}
	table, thead, tbody , th, td {
		table-layout: fixed !important;
	}
	th, td {
		vertical-align: middle;
		background: initial;
	}
	.table-toolbar {
		padding: 5px 0px;
		> * { margin-right: 10px; }
	}

	.table-wrapper {
		display: grid;
		grid-template-rows: auto 1fr;
		overflow: auto;
		.cell-inner {
			margin: 0px 5px;
			overflow: hidden; /*自动隐藏文字*/
			text-overflow: ellipsis;/*文字隐藏后添加省略号*/
			white-space: nowrap;/*强制不换行*/
		}
		.cell-sort { padding-top: 3px; }
		.table-cell {
			min-width: $table-cell--width-min !important;
			min-height: $table-cell--height-min !important;
		}
		.table-body { 
			overflow: auto;
			.#{$prefix}-icon {
				font-size: $table-body-icon--font-size;
				margin-right: $table-cell-children--margin;
				margin-left: $table-cell-children--margin;
			}
			tr {
				&:nth-child(odd){ background-color: $table-body-row-odd !important; }
				&:nth-child(even){ 	background-color: $table-body-row-even !important; }
				&:hover {
					background-color: $table-body-hover !important;
				}
				&.is-selected {
					background-color: $table-tr-active !important;
				}
			}
		}
	
		.table-header {
			background-color: $table-header;
			tr {
				background-color: $table-header;
			}
			.#{$prefix}-icon {
				font-size: $table-header-icon--font-size;
			}
		}
	}
}