.#{$me-prefix}-tree {
	.tree-node-header{ 
		font-weight: bold;
		background: $tree-header;
		font-size: 16px;
	}
	.tree-node-label {
		min-width: 40px;
		min-height: 35px;
		.tree-label-inner {
			overflow: hidden; /*自动隐藏文字*/
			text-overflow: ellipsis;/*文字隐藏后添加省略号*/
			white-space: nowrap;/*强制不换行*/
		}
	}
	
	.tree-node-body {
		.tree-node-item:hover {
			cursor: pointer;
			background: $tree-node--hover;
		}
	}
	
	.tree-node-item {
		font-size: 13px;
		align-items: center;
		.tree-node-statistics {
			color: rgba(170, 170, 170, 0.548);
			margin: 0px 3px;
			> span { margin: 0px 1px; }
		}
		.#{$me-prefix}-icon {
			font-size: $tree-node-icon--font-size;
		}
		&.is-selected {
			background-color: $tree-node--active;
		}
	}
}