
@import "./Button.scss";
@import "./Form.scss";
@import "./Input.scss";
@import "./Link.scss";
@import "./Combo.scss";
.#{$prefix}-checkbox {
	margin: 3px $prefix;
	.checkbox-inner {
		margin: 0px !important;
		width: 14px;
		height: 15px;
	}
}
