.@{PREFIX}-line-row {
	align-items: center;
	padding: 5px;
	> div {
		background-color:@color_border;
		width: 100%;
		height: 1px;
	}
}


.@{PREFIX}-line-column {
	justify-content: center;
	align-items: center;
	width: 10px;
	> div {
		background-color:@color_bg;
		height: 100%;
		width: 1px;
	}
}