.@{PREFIX}-panel {
	padding: 0px 5px;
	background:rgba(255,255,255,1);
	.header {
		height: 30px;
		padding: 0px 5px;
		align-items:center;
		font-size: 14px;
		color: #303133;
	}
	.content {
		padding: 0px 5px;
	}
}