@table-border: #ebeef5;
@table-color: rgb(141, 141, 141);
@table-header: #F8F8F9;
@table-body: #FFFFFF;
@table-body-row-odd:#FFFFFF;
@table-body-row-even:#F8F8F9;
@table-body-hover: #ebf7ff;
@table-body-active: #ebf7ff;
.@{PREFIX}-table {
	color: @table-color;
	overflow: auto;
	height: 100%;
	width: 100%;
	font-size: 12px;
	.table-toolbar{
		padding: 3px;
	}
	.table-row {
		min-height: 40px;
	}
	.table-column {
		align-items: center;
		min-width: 40px;
		.table-column-inner {
			margin: 5px 10px;
		}
	}
	.table-header {
		font-size: 16px;
		font-weight: bold;
		background: @table-header;
	}
	.table-body {
		background: @table-body;
		overflow: auto;
		.table-row {
			&:nth-child(odd){
				background: @table-body-row-odd;
			}
			&:nth-child(even){
				background: @table-body-row-even;
			}
			&:hover{
				cursor: pointer;
				background-color: @table-body-hover;
			}
		}
		.table-row.row-selected {
			background-color: @table-body-active;
		}
	}
}

.@{PREFIX}-table-border {
	border: 1px solid @table-border;
	.table-row {
		border-bottom: 1px solid @table-border;
	}
	.table-column {
		border-right: 1px solid @table-border;
	}
}