@table-border: rgb(141, 141, 141);
@table-color: rgb(141, 141, 141);
@table-header:#4aacee;
@table-body: #FFFFFF;
@table-body-row-odd:#FFFFFF;
@table-body-row-even:#F8F8F9;
@table-body-hover: #ebf7ff;
@table-tr-active: #4aacee;

.@{PREFIX}-table-container {
	padding: 2px;
	height: 100%;;
	table{
		width: 100%;
	}
	table, thead, tbody , th, td {
		table-layout: fixed !important;
	}
	th, td {
		vertical-align: middle;
		background: initial;
	}
	.table-toolbar {
		padding: 5px 0px;
		> * {
			margin-right: 10px;
		}
	}

	.table-wrapper {
		border: 1px solid @table-border;
		.checkbox {
			text-align: center;
			width: 30px !important;
		}
		.cell-inner {
			margin: 5px;
			overflow: hidden; /*自动隐藏文字*/
			text-overflow: ellipsis;/*文字隐藏后添加省略号*/
			white-space: nowrap;/*强制不换行*/
		}
		.table-body { 
			overflow: auto; 
			tr {
				&:nth-child(odd){ background-color: @table-body-row-odd !important; }
				&:nth-child(even){ 	background-color: @table-body-row-even !important; }
				&:hover {
					background-color: @table-body-hover !important;
				}
				&.is-selected {
					background-color: @table-tr-active !important;
				}
			}
		}
	
		.table-header {
			overflow: hidden;
			background-color: @table-header;
			tr {
				background-color: @table-header;
			}
		}
	}
	
}