.@{PREFIX}-table {
	.table-header{
		font-size: 16px;
		font-weight: bold;
	}
	.table-body {
		color: rgb(141, 141, 141);
		.table-row{
			&:hover{
				cursor: pointer;
				background-color: @color_hover;
			}
		}
		.selected{
			background-color:@color_selected;
		}
	}
	.table-column {
		align-items: center;
		padding: 3px;
		min-width: 60px;
		min-height: 35px;
	}
}