.@{PREFIX}-transfer {
	.flex(row);
	.transfer-left {
		.flex(column);
		.border;
		flex: 1;
	}
	.transfer-center {
		.flex(column);
		justify-content: center;
		align-items: center;
		width: 100px;
	}
	.transfer-right{
		.flex(column);
		.border;
		flex: 1;
	}
	.transfer-header {
		.flex(row);
		height: 30px;
		align-items: center;
	}
	.transfer-body {
		.flex(column);
		flex: 1;
		overflow: auto;
		.transfer-content {
			.flex(row);
			align-items: center;
			height: 40px;
		}
	}
}