.@{PREFIX}-tree {
	.tree-node-header{ }
	.tree-node-body { }
	
	.tree-node-item {
		font-size: 13px;
		align-items: center;
		&:hover {
			cursor: pointer;
			background:#BCD2EE;
		}
		.tree-node-statistics {
			color: rgba(170, 170, 170, 0.548);
			margin: 0px 3px;
			>span { margin: 0px 1px; }
		}
		.tree-node-label {
			align-items: center;
			height: 35px;
		}
	}
}