
@color-disabled: #fff;
@color-disabled-border: #c0c4cc;
@color-disabled-font: #c0c4cc;
@color-disabled-hover: #fff;
@color-disabled-hover-font:@color-disabled-font;
@color-disabled-active: #fff;
@color-disabled-active-font:@color-disabled-font;
@color-disabled-focus: #fff;
@color-disabled-focus-font:@color-disabled-font;

@color-default: 0;
@color-default-border: @color-border;
@color-default-font:rgb(37, 36, 36);
@color-default-hover: #ecf5ff;
@color-default-hover-border: #2d8cf0;
@color-default-hover-font:#2d8cf0;
@color-default-active: #ecf5ff;
@color-default-active-border: #2d8cf0;
@color-default-active-font:#2d8cf0;
@color-default-focus: #ecf5ff;
@color-default-focus-border: #2d8cf0;
@color-default-focus-font:#2d8cf0;


@color-primary:#2d8cf0;
@color-primary-border:#2d8cf0;
@color-primary-font:#fff;
@color-primary-hover:#5cadff;
@color-primary-hover-border:#5cadff;
@color-primary-hover-font:#f2f2f2;
@color-primary-active:#2b85e4;
@color-primary-active-border:#2b85e4;
@color-primary-active-font:#f2f2f2;
@color-primary-focus:#2b85e4;
@color-primary-focus-border:#2b85e4;
@color-primary-focus-font:#f2f2f2;

// color - info
@color-info: #909399;
@color-info-border:#909399;
@color-info-font:#fff;
@color-info-hover:#909399;
@color-info-hover-border:#909399;
@color-info-hover-font:#f2f2f2;
@color-info-active:#909399 + #111;
@color-info-active-border:#909399;
@color-info-active-font:#fff;
@color-info-focus:#909399 + #111;
@color-info-focus-border:#909399;
@color-info-focus-font:#fff;

// color - success
@color-success: #19be6b;
@color-success-border: #19be6b;
@color-success-font:#fff;
@color-success-hover:#19be6b;
@color-success-hover-border: #19be6b;
@color-success-hover-font:#f2f2f2;
@color-success-active:#19be6b + #111;
@color-success-active-border: #19be6b;
@color-success-active-font:#f2f2f2;
@color-success-focus:#19be6b + #111;
@color-success-focus-border: #19be6b;
@color-success-focus-font:#f2f2f2;

@color-warning: #ebb563;
@color-warning-border:#ebb563;
@color-warning-font:#fff;
@color-warning-hover:#ebb563;
@color-warning-hover-border:#ebb563;
@color-warning-hover-font:#f2f2f2;
@color-warning-active:#ebb563;
@color-warning-active-border:#ebb563;
@color-warning-active-font:#f2f2f2;
@color-warning-focus:#ebb563;
@color-warning-focus-border:#ebb563;
@color-warning-focus-font:#f2f2f2;

@color-error: #ed4014;
@color-error-border:#ed4014;
@color-error-font:#fff;
@color-error-hover:#ed4014;
@color-error-hover-border:#ed4014;
@color-error-hover-font:#f2f2f2;
@color-error-active:#ed4014 + #111;
@color-error-active-border:#ed4014;
@color-error-active-font:#f2f2f2;
@color-error-focus:#ed4014 + #111;
@color-error-focus-border:#ed4014;
@color-error-focus-font:#f2f2f2;

.btn-type(@background: 0, @color: 0, @border: 0){
	color: @color;
	background-color: @background;
	border-color: @border;
}
.btn-hover(@background: 0,@color: 0, @border: 0){
	color: @color;
	background-color: @background;
	border-color: @border;
}
.btn-active(@background: 0,@color: 0, @border: 0){
	color: @color;
	background-color: @background;
	border-color: @border;
}
.btn-focus(@background: 0, @color: 0, @border: 0){
	color: @color;
	background-color: @background;
	border-color: @border;
	box-shadow:0 0 5px @border;
}


.@{PREFIX}-btn {
	white-space: nowrap;
	background: #fff;
	border: 1px solid @color-border;
	color: #606266;
	appearance: none;
	text-align: center;
	transition: color .5s linear,background-color .5s linear,border .5s linear,box-shadow .5s linear;
	padding: 10px;
	font-size: 14px;
	border-radius: 5px;
	outline: 0;
	cursor: pointer;
	margin: 0px 5px;
	.button-inner {
		margin: 0px 2px;
	}
}

.@{PREFIX}-btn-default { .btn-type(@color-default, @color-default-font, @color-default-border) }
.@{PREFIX}-btn-primary { .btn-type(@color-primary, @color-primary-font, @color-primary-border) }
.@{PREFIX}-btn-info { .btn-type(@color-info, @color-info-font, @color-info-border) }
.@{PREFIX}-btn-success { .btn-type(@color-success, @color-success-font, @color-success-border) }
.@{PREFIX}-btn-warning { .btn-type(@color-warning, @color-warning-font, @color-warning-border) }
.@{PREFIX}-btn-error { .btn-type(@color-error, @color-error-font, @color-error-border) }
.@{PREFIX}-btn-plain { background: 0 0; }


.@{PREFIX}-btn-primary.@{PREFIX}-btn-plain { color: @color-primary; }
.@{PREFIX}-btn-info.@{PREFIX}-btn-plain { color:@color-info; }
.@{PREFIX}-btn-success.@{PREFIX}-btn-plain { color:@color-success; }
.@{PREFIX}-btn-warning.@{PREFIX}-btn-plain { color:@color-warning; }
.@{PREFIX}-btn-error.@{PREFIX}-btn-plain { color:@color-error; }


.@{PREFIX}-btn-default, .@{PREFIX}-btn-default.@{PREFIX}-btn-plain{
	&:hover { .btn-hover(@color-default-hover, @color-default-hover-font, @color-default-hover-border) }
	&:active { .btn-active(@color-default-active, @color-default-active-font, @color-default-active-border) }
	&:focus { .btn-focus(@color-default-focus, @color-default-focus-font, @color-default-focus-border) }
}
.@{PREFIX}-btn-primary, .@{PREFIX}-btn-primary.@{PREFIX}-btn-plain{
	&:hover { .btn-hover(@color-primary-hover, @color-primary-hover-font, @color-primary-hover-border) }
	&:active { .btn-active(@color-primary-active, @color-primary-active-font, @color-primary-active-border) }
	&:focus { .btn-focus(@color-primary-focus, @color-primary-focus-font, @color-primary-focus-border) }
}
.@{PREFIX}-btn-info, .@{PREFIX}-btn-info.@{PREFIX}-btn-plain{
	&:hover { .btn-hover(@color-info-hover, @color-info-hover-font, @color-info-hover-border) }
	&:active { .btn-active(@color-info-active, @color-info-active-font, @color-info-active-border) }
	&:focus { .btn-focus(@color-info-focus, @color-info-focus-font, @color-info-focus-border) }
}
.@{PREFIX}-btn-success, .@{PREFIX}-btn-success.@{PREFIX}-btn-plain{
	&:hover { .btn-hover(@color-success-hover, @color-success-hover-font, @color-success-hover-border) }
	&:active { .btn-active(@color-success-active, @color-success-active-font, @color-success-active-border) }
	&:focus { .btn-focus(@color-success-focus, @color-success-focus-font, @color-success-focus-border) }
}
.@{PREFIX}-btn-warning, .@{PREFIX}-btn-warning.@{PREFIX}-btn-plain{
	&:hover { .btn-hover(@color-warning-hover, @color-warning-hover-font, @color-warning-hover-border) }
	&:active { .btn-active(@color-warning-active, @color-warning-active-font, @color-warning-active-border) }
	&:focus { .btn-focus(@color-warning-focus, @color-warning-focus-font, @color-warning-focus-border) }
}
.@{PREFIX}-btn-error, .@{PREFIX}-btn-error.@{PREFIX}-btn-plain{
	&:hover { .btn-hover(@color-error-hover, @color-error-hover-font, @color-error-hover-border) }
	&:active { .btn-active(@color-error-active, @color-error-active-font, @color-error-active-border) }
	&:focus { .btn-focus(@color-error-focus, @color-error-focus-font, @color-error-focus-border) }
}

.@{PREFIX}-btn-disabled,.@{PREFIX}-btn-disabled.@{PREFIX}-btn-plain {
	&:hover { .btn-hover(@color-disabled-hover, @color-disabled-hover-font, @color-disabled-border) }
	&:active { .btn-active(@color-disabled-active, @color-disabled-active-font) }
	&:focus { .btn-focus(@color-disabled-focus, @color-disabled-focus-font) }
	.btn-type(@color-disabled, @color-disabled-font, @color-disabled-border);
	 cursor: not-allowed;
}

.@{PREFIX}-btn-shape--circle{
	border-radius: 50%;
	padding: 15px;
}

.@{PREFIX}-btn-shape--round{
	border-radius: 2rem;
	padding: 15px;
}
