
html {
	height: 100%;
	padding: 5px;
}

body {
	height: 100%;
	margin: 0px;
}


input[type=checkbox] {
	vertical-align:middle;
	cursor: pointer;
}


input::placeholder {
	color: @color-placeholder;
}

textarea {
	resize: none;
}

button {
	cursor: pointer;
}

.@{PREFIX}-cursor-move{
	cursor: move;
}
.@{PREFIX}-cursor-pointer{
	cursor: pointer;
}

.@{PREFIX}-input {
	min-height: 32px;
	margin: 5px;
	align-self: center;
	.input-label {
		min-width: 80px;
		align-items:center;
		justify-content: flex-end;
		padding-right: 3px;
	}
	
	.input-required {
		color: red;
	}
	.input-wrap {
		position: relative;
		flex: 1;
		.input-icon {
			position: absolute;
			height:100%;
		}
		.input-inner {
			outline: none;
			border: 1px solid @color-border;
			color: @color-font;
			border-radius: 5px;
			padding-left: 10px;
			padding-right: 10px;
			&:hover {
				border: 1px solid @color-hover;
				box-shadow:0 0 3px @color-hover;
			}
			&:focus {
				border: 1px solid @color-hover;
				box-shadow:0 0 8px @color-hover;
			}
		}
	}
	.input-invalid {
		border: 1px solid red;
	}
}

.@{PREFIX}-link {
	margin: 0px 2px;
	display: block;
	&:link {color: #FF0000}     /* 未访问的链接 */
	&:visited {color: #00FF00}  /* 已访问的链接 */
	&:hover { color: @color-hover; }    /* 当有鼠标悬停在链接上 */
}


@import "./Button.less";