
.@{PREFIX}-link {
	margin: 0px 2px;
	display: block;
	&:link {color: #FF0000}     /* 未访问的链接 */
	&:visited {color: #00FF00}  /* 已访问的链接 */
	&:hover { color: @color-hover; }    /* 当有鼠标悬停在链接上 */
}

@import "./Button.less";
@import "./Input.less";
@import "./Combo.less";
.@{PREFIX}-checkbox {
	margin: 3px;
	.checkbox-inner {
		margin: 0px !important;
		width: 14px;
		height: 15px;
	}
}