// 选择器前缀
@PREFIX: me;
@color_base:rgb(239, 242, 245);
// 边框主色
@color_border: @color_base;
// 填充颜色
@color_fill:#F5F6FA;
// 悬浮的颜色
@color_hover: #96c5f7;
// 选中的颜色
@color_selected:#96c5f7;


.flex(@type){
	-webkit-display:flex;
	display: flex;
	flex-direction: @type;
	justify-content: flex-start;
	align-items: stretch;
}


.border(@color: @color_border) {
	border: 1px solid @color;
}
