// 选择器前缀
@PREFIX: me;
@color-base:rgb(239, 242, 245);
// 边框主色
@color-border: #e3e5eb;
@color-placeholder: #9c9da0;
// 填充颜色
@color-fill:#F5F6FA;
@color-font:#606266;
// 悬浮的颜色
@color-hover: #96c5f7;
// 选中的颜色
@color-selected:#96c5f7;

@color-active:#96c5f7;

@color-disabled:#606266;

