@mixin flex($type){
	-webkit-display:flex;
	display: flex;
	flex-direction: $type;
}

@mixin grid-column($columns) {
	display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-auto-rows: auto;
}

@for $i from 2 through 12 {
.#{$prefix}-grid-column-#{$i} {
	@include grid-column($i)
}
}

.#{$prefix}-border-red {
	border: 1px solid red;
}

.#{$prefix}-grid-self-center {
	place-self: center center;
}