

@import "./flex.scss";
@import "./grid.scss";
@import "./form/index.scss";
@import "./basic/index.scss";
@import "./animation/index.scss";
@import "./layout/index.scss";

html, body {
	height: 100%;
	margin: auto;
}

.#{$prefix}-cursor-move{
	cursor: move;
}
.#{$prefix}-cursor-pointer{
	cursor: pointer;
}
#app {
	height: 100%;
  @include flex(row);
}

.#{$prefix}-icon {
	cursor: pointer;
	align-self: center;
	font-size: 16px;
	margin: 0px;
}

.#{$prefix}-grid-center {
  display: grid;
  justify-items: center;
  align-items: center;
}

.#{$prefix}-disabled {
	* {
		cursor: not-allowed;
	}
}

.#{$prefix}-readonly {
	* { cursor: pointer; }
}

.#{$prefix}-cursor-pointer {
	&:hover { 
		cursor: pointer; 
	} 
}