// 选择器前缀
$prefix                                : me;
$color                                 : #fff !default;
$color-base                            : rgb(239, 242, 245);
// 边框主色
$color-border                          : #e3e5eb;
$color-placeholder                     : #9c9da0;
// 填充颜色
$color-fill                            : #F5F6FA;
$color-font                            : #606266;
// 悬浮的颜色
$color-hover                           : #96c5f7;
// 焦点颜色
$color-focus                           : #96c5f7;
// 选中的颜色
$color-selected                        : #96c5f7;
$color-active                          : #96c5f7;
$color-disabled                        : #606266;
// 异常颜色
$color-error                           : red;
$color-disabled                        : #fff;
$color-disabled-plain                  : #fff;
$color-disabled-border                 : #c0c4cc;
$color-disabled-font                   : #c0c4cc;
$color-disabled-hover                  : #fff;
$color-disabled-hover-font             : $color-disabled-font;
$color-disabled-active                 : #fff;
$color-disabled-active-font            : $color-disabled-font;
$color-disabled-focus                  : #fff;
$color-disabled-focus-font             : $color-disabled-font;


$color-default                         : #fff;
$color-default-plain                   : #fff;
$color-default-border                  : $color-border;
$color-default-font                    : rgb(37, 36, 36);
$color-default-hover                   : #ecf5ff;
$color-default-hover-border            : #2d8cf0;
$color-default-hover-font              : #2d8cf0;
$color-default-active                  : #ecf5ff;
$color-default-active-border           : #2d8cf0;
$color-default-active-font             : #2d8cf0;
$color-default-focus                   : #ecf5ff;
$color-default-focus-border            : #2d8cf0;
$color-default-focus-font              : #2d8cf0;


$color-primary                         : #117ef3;
$color-primary-plain                   : #FFFFFF;
$color-primary-border                  : #2d8cf0;
$color-primary-font                    : #fff;
$color-primary-hover                   : $color-primary;
$color-primary-hover-border            : $color-primary;
$color-primary-hover-font              : #f2f2f2;
$color-primary-active                  : #FFFFFF;
$color-primary-active-border           : #2b85e4;
$color-primary-active-font             : #f2f2f2;
$color-primary-focus                   : #2b85e4;
$color-primary-focus-border            : #2b85e4;
$color-primary-focus-font              : #f2f2f2;

// color - info
$color-info                            : #909399;
$color-info-plain                      : #FFFFFF;
$color-info-border                     : #909399;
$color-info-font                       : #fff;
$color-info-hover                      : #909399;
$color-info-hover-border               : #909399;
$color-info-hover-font                 : #f2f2f2;
$color-info-active                     : #909510;
$color-info-active-border              : #909399;
$color-info-active-font                : #fff;
$color-info-focus                      : #909510;
$color-info-focus-border               : #909399;
$color-info-focus-font                 : #fff;

// color - success
$color-success                         : #19be6b;
$color-success-plain                   : #FFFFFF;
$color-success-border                  : #19be6b;
$color-success-font                    : #fff;
$color-success-hover                   : #19be6b;
$color-success-hover-border            : #19be6b;
$color-success-hover-font              : #f2f2f2;
$color-success-active                  : #19be6b;
$color-success-active-border           : #19be6b;
$color-success-active-font             : #f2f2f2;
$color-success-focus                   : #1dbd6d;
$color-success-focus-border            : #19be6b;
$color-success-focus-font              : #f2f2f2;

$color-warning                         : #ebb563;
$color-warning-plain                   : #FFFFFF;
$color-warning-border                  : #ebb563;
$color-warning-font                    : #fff;
$color-warning-hover                   : #ebb563;
$color-warning-hover-border            : #ebb563;
$color-warning-hover-font              : #f2f2f2;
$color-warning-active                  : #ebb563;
$color-warning-active-border           : #ebb563;
$color-warning-active-font             : #f2f2f2;
$color-warning-focus                   : #ebb563;
$color-warning-focus-border            : #ebb563;
$color-warning-focus-font              : #f2f2f2;

$color-error                           : #ed4014;
$color-error-plain                     : #FFFFFF;
$color-error-border                    : #ed4014;
$color-error-font                      : #fff;
$color-error-hover                     : #ed4014;
$color-error-hover-border              : #ed4014;
$color-error-hover-font                : #f2f2f2;
$color-error-active                    : #ed4125;
$color-error-active-border             : #ed4014;
$color-error-active-font               : #f2f2f2;
$color-error-focus                     : #ed4125;
$color-error-focus-border              : #ed4014;
$color-error-focus-font                : #f2f2f2;

// form -- input
$input-border-error                    : $color-error;
// form -- link
$link-color                            : rgb(141, 141, 141);
$link-hover-color                      : rgb(76, 91, 97);
$link-visited-color                    : rgb(92, 94, 92);
$link-link-color                       : rgb(26, 24, 24);
// form -- combo
$combo-border                          : #ebeef5;
$combo-color                           : #FFFFFF;
$combo-row-odd                         : #FFFFFF;
$combo-row-even                        : #F8F8F9;
$combo-hover                           : #ebf7ff;
$combo-active                          : #ebf7ff;

// Animation
$animation-time                        : .3s;
$animation-time-quick                  : .15s;
$transition-time                       : .2s;
$ease-in-out                           : ease-in-out;
// Notice
$notice-width                          : 335px;
$notice-padding                        : 16px;
$notice-margin-bottom                  : 10px;

// basic -- slidebar
$slidebar-base                        : rgb(243, 240, 240);
$slidebar                             : rgb(194, 191, 191);
$slidebar-axis                        : #409eff;
$slidebar-hover                       : rgb(209, 209, 209);
$slidebar-active                      : #747474;

// basic -- slidebar
$scrollbar-base                       : rgb(243, 240, 240);
$scrollbar                            : rgb(194, 191, 191);
$scrollbar-hover                      : rgb(209, 209, 209);
